[advisories]
ignore = []

[bans]
multiple-versions = "deny"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
required-git-spec = "rev"

[licenses]
allow = [
    "Apache-2.0",                     # https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)
    "MIT",                            # https://tldrlegal.com/license/mit-license
    "Unicode-DFS-2016",               # https://spdx.org/licenses/Unicode-DFS-2016.html
]
exceptions = []
